<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        function send () {
            const params = {
                "product_code": "BTC_JPY",
                "limit": 10,
                "duration": "1s"
            }
            $.get("/api/candle/", params).done(function (data) {
                console.log(data)
                const candles = data["candles"]
                $('#dashboard_div').append(candles[0].open + "<br>")
            })
        }
        setInterval(send, 1000 * 3)
        window.onload = function () {
            send()
        }
    </script>
</head>
<body>
<div id="dashboard_div"></div>

</body>
</html>